
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(https://elements-video-cover-images-0.imgix.net/files/6316fb05-793e-4e89-8683-15dc3e9b4766/inline_image_preview.jpg?auto=compress&h=800&w=1200&fit=crop&crop=edges&fm=jpeg&s=b4d8b1128150b33b07dea4480792a0eb);

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100% ;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 100vh;
}



div{
    background-color: rgba(5, 247, 247, 0.253);
    width: 40%;
    align-items: center;
    text-align: center;
    height: 400px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 20px;
}

h1{
    font-size: 70px;
    letter-spacing: 3px;
    color: #ffffff;
    filter: drop-shadow(10px 7px 10px rgba(255, 123, 0, 0.63));
  
}


button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 50px;
  width: 150PX;
  margin-left: 25px;
  margin-top: 10px;
  letter-spacing: 3px;
  font-size: large;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}